<!DOCTYPE html>
<html lang="nb">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Privat side</title>
        <link rel="stylesheet" href="/style/style.css" />
    </head>
    <body>
        <header>
            <div class="logo"></div>
            <nav>
                <a href="/login">Logge inn</a>
                <a href="/ny-bruker">Ny bruker</a>
            </nav>
        </header>
        <main>Privat side</main>
        <footer>&copy; 2025 Nexatech</footer>
    </body>
</html>
