<!DOCTYPE html>
<html lang="nb">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>EcoData - Privat Side</title>
        <link rel="stylesheet" href="/style/style.css" />
    </head>
    <body>
        <header>
            <div class="logo"></div>
            <div class="linker">
                <a href="/">Hjem</a>
                <a href="/login">Logge inn</a>
                <a href="/ny-bruker">Ny bruker</a>
                <a href="/registrer">Ny Enhet</a>
                <a href="/logout">log ut</a>
            </div>
        </header>
        <main>
            <h1>Dine enheter</h1>
            <div class="enhet-list" id="enhet-list">
                <div class="enhet-header">
                    <div>Modell</div>
                    <div>Batteri-helse</div>
                    <div>Serienummer</div>
                    <div>Status</div>
                    <div>Handling</div>
                </div>
                <!-- Nettsiden kommer her med javascript ;) -->
            </div>
        </main>
        <footer style="text-align: center; color: white;">&copy; 2025 EcoData</footer>
        <script src="/style/script.js" defer></script>
    </body>
</html>
